
    <h1>Create Account</h1>
    <form action="/user" method="post">
        <input type="hidden" name="_method" value="post">
        <label for="name">email</label>
        <input type="text" name="email">
        <label for="password">password</label>
        <input type="password" name="password">
        <button class="planet-btns">sign up</button>
    </form>
